<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>Mainstream Screenplay Generator</title>

	<meta name="description" content="">
	<meta name="author" content="Christophe Chan Hin (2004), Arno Richter (2020)">
	<meta name="copyright" content="2004 Christophe Chan Hin, 2020 Arno Richter" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="title" property="og:title" content="Mainstream Screenplay Generator" />
	<meta name="description" property="og:description" content="" />
	<meta name="image" property="og:image" content="https://oelna.github.io/mainstream-screenplay-generator/msg-logo.png" />
	<meta name="url" property="og:url" content="https://oelna.github.io/mainstream-screenplay-generator/" />

	<meta name="color-scheme" content="light dark" />
	<link rel="stylesheet" href="./msg.css" />

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
	<script src="./msg.js" defer></script>
</head>
<body>
	<div id="container">
		<div id="app">
			<form>
				<fieldset class="settings" v-if="content.mainValues">
					<div id="logo"></div>
					<h2>Grundwerte</h2>
					<div>
						<div class="humor">
							Humor: <select @change="changeHumor" ref="r-humor">
								<option v-for="val, key in content.mainValues.humor" :key="key" :value="key">{{ val }}</option>
							</select>
						</div>
						<div class="violence">
							Gewalt: <select ref="r-violence">
								<option v-for="desc, val in content.mainValues.violence" :key="'violence-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
						<div class="erotica">
							Erotik: <select ref="r-erotica">
								<option v-for="desc, val in content.mainValues.erotica" :key="'erotica-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
						<div class="romance">
							Romantik: <select ref="r-romance">
								<option v-for="desc, val in content.mainValues.romance" :key="'romance-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset class="protagonists" v-if="content.protagonistValues">
					<h2>Der Protagonist</h2>
					<input type="text" name="protagonistName" placeholder="Name des Protagonisten" @change="setCharacterName('protagonists', 0, $event)" ref="r-protagonists-0-name" />, ein(e)<br /><br />
					<select v-for="amount, i in content.protagonistValues.attributesAmount.positive" :ref="'r-protagonists-0-attributes-positive'">
						<option value="unset">(Charaktereigenschaft auswählen)</option>
						<option v-for="val in content.protagonistValues.positiveAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />und<br />
					<select v-for="amount in content.protagonistValues.attributesAmount.negative" :ref="'r-protagonists-0-attributes-negative'">
						<option value="unset">(Charaktereigenschaft auswählen)</option>
						<option v-for="val in content.protagonistValues.negativeAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />

					<select class="protagonist-gender" ref="r-protagonists-0-gender">
						<option v-for="gender, key in content.genders" :key="key" :value="key">{{ gender.name }}</option>
					</select> dessen Beruf<br />

					<select class="protagonist-skill" ref="r-protagonists-0-skill">
						<!--<option value="unset">keine Auswahl</option>-->
						<option v-for="job in content.protagonistValues.skills[humorSetting]" :key="" :data-description="job.description">{{ job.skill }}</option>
					</select> ist.
				</fieldset>
				<fieldset class="antagonist" v-if="content.antagonistValues">
					<h2>Der Antagonist</h2>
					<input type="text" name="antagonistName" placeholder="Name des Antagonisten" @change="setCharacterName('antagonists', 0, $event)" ref="r-antagonists-0-name" />, ein(e)<br />
					<select v-for="amount in content.antagonistValues.attributesAmount.positive" :ref="'r-antagonists-0-attributes-positive'">
						<option value="unset">(Charaktereigenschaft auswählen)</option>
						<option v-for="val in content.antagonistValues.positiveAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />
					<select v-for="amount in content.antagonistValues.attributesAmount.negative" :ref="'r-antagonists-0-attributes-negative'">
						<option value="unset">(Charaktereigenschaft auswählen)</option>
						<option v-for="val in content.antagonistValues.negativeAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />

					<select class="antagonist-gender" ref="r-antagonists-0-gender">
						<option v-for="gender, key in content.genders" :key="key" :value="key">{{ gender.name }}</option>
					</select> welcher über<br />

					<select v-for="skill in 3" class="antagonist-skill" :class="'antagonist-skill-' + skill" :ref="'r-antagonists-0-skill'">
						<option value="unset">(Fähigkeit auswählen)</option>
						<option v-for="job in content.antagonistValues.skills[humorSetting]" :key="job.skill" :data-description="job.description">{{ job.skill }}</option>
					</select> verfügt und als

					<select class="antagonist-job" :class="'antagonist-0-job'" :ref="'r-antagonists-0-job'">
						<option v-for="job in content.antagonistValues.jobs[humorSetting]" :key="job.job" :data-description="job.description">{{ job.job }}</option>
					</select> arbeitet.
				</fieldset>
				<fieldset class="story" v-if="content.targetValues">
					<h2>Die Geschichte</h2>
					<select @change="changeTarget('primary',$event)" ref="r-target-primary">
						<option v-for="primaryTarget, key in content.targetValues[humorSetting]" :key="key" :value="key">{{ primaryTarget.name }}</option>
					</select>

					<select @change="changeTarget('secondary',$event)" ref="r-target-secondary">
						<option v-for="secondaryTarget, key in content.targetValues[humorSetting][primaryTarget].secondaryTargets" :key="key" :value="key">{{ secondaryTarget.name }}</option>
					</select> und 

					<select ref="r-target-tertiary">
						<option v-for="tertiaryTarget, key in content.targetValues[humorSetting][primaryTarget].secondaryTargets[secondaryTarget].tertiaryTargets" :key="key" :value="key">{{ tertiaryTarget }}</option>
					</select>

					von Protagonist <span v-if="protagonists[0]">{{ ucfirst(protagonists[0].name) }}</span><span v-else>X</span>.<br /><br /><span v-if="protagonists[0]">{{ ucfirst(protagonists[0].name) }}</span><span v-else>X</span> und seine Leute von 

					<select class="protagonist-job" ref="r-protagonist-job">
						<option v-for="job, key in content.protagonistValues.jobs[humorSetting]" :key="key" :value="key" :data-description="job.description">{{ job.job }}</option>
					</select>

					suchen Antagonist <span v-if="antagonists[0]">{{ ucfirst(antagonists[0].name) }}</span><span v-else>X</span>, da diese(r)

					<select class="antagonist-method" ref="r-antagonist-method">
						<option v-for="method, key in content.action[humorSetting].method" :key="key" :value="key" :data-description="method.description">{{ method.name }}</option>
					</select> aus

					<select class="antagonist-motiv" ref="r-antagonist-motiv">
						<option v-for="motiv, key in content.action[humorSetting].motiv" :key="key" :value="key" :data-description="motiv.description">{{ motiv.name }}</option>
					</select>

					verübt hat.

					<input type="submit" name="generate" value="Generieren" @click.prevent="generateScreenplay()" />

				</fieldset>
			</form>
		</div>

		<div id="story" v-html="text"></div>
	<div>
</body>
</html>