<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>Screenplay Generator</title>

	<style>
		* {
			box-sizing: border-box;
			font-size: 100%;
		}

		html {
			font: 100%/1.6 system-ui, Arial, sans-serif;
		}

		#container {
			display: flex;
		}

		#container #app,
		#container #story {
			width: 50%;
		}

		fieldset {
			margin-bottom: 1em;
			border: 1px dashed #000;
		}

		h2 {
			margin: 0 0 0.5em 0;
		}

		input {
			padding: 0.25em;
		}

		select {
			display: block;
			width: 30ch;
			margin-bottom: 0.5em;
		}

		.settings > div {
			display: flex;
			flex-flow: row wrap;
		}

		.settings > div > * {
			/* width: 25%; */
			margin-right: 2em;
		}

		input[type="submit"] {
			display: block;
			width: 30ch;
			background: #000;
			padding: 0.5em 0.25em 0.6em;
			color: #fff;
			border: 0;
			border-radius: 0.4em;
		}

		#story {
			font-size: 1.25em;
			font-family: monospace;
			padding: 1rem;
			border: 1px dashed #000;
		}

		#story h2 { margin-bottom: 0; }
		#story p { margin-top: 0; }

		#story p + h2 {
			margin-top: 1em;
		}
	</style>
</head>
<body>
	<div id="container">
		<div id="app">
			<form>
				<fieldset class="settings" v-if="content.mainValues">
					<h2>Grundwerte</h2>
					<div>
						<div class="humor">
							Humor: <select @change="changeHumor" ref="r-humor">
								<option v-for="val, key in content.mainValues.humor" :key="key" :value="key">{{ val }}</option>
							</select>
						</div>
						<div class="violence">
							Gewalt: <select ref="r-violence">
								<option v-for="desc, val in content.mainValues.violence" :key="'violence-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
						<div class="erotica">
							Erotik: <select ref="r-erotica">
								<option v-for="desc, val in content.mainValues.erotica" :key="'erotica-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
						<div class="romance">
							Romantik: <select ref="r-romance">
								<option v-for="desc, val in content.mainValues.romance" :key="'romance-'+val" :data-description="desc">{{ val }}</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset class="protagonists" v-if="content.protagonistValues">
					<h2>Der Protagonist</h2>
					<input type="text" name="protagonistName" placeholder="Name des Protagonisten" @change="setCharacterName('protagonists', 0, $event)" ref="r-protagonists-0-name" />, ein(e)<br />
					<select v-for="amount, i in content.protagonistValues.attributesAmount.positive" :ref="'r-protagonists-0-attributes-positive'">
						<option value="unset">keine Auswahl</option>
						<option v-for="val in content.protagonistValues.positiveAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />
					<select v-for="amount in content.protagonistValues.attributesAmount.negative" :ref="'r-protagonists-0-attributes-negative'">
						<option value="unset">keine Auswahl</option>
						<option v-for="val in content.protagonistValues.negativeAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />

					<select class="protagonist-gender" ref="r-protagonists-0-gender">
						<option v-for="gender, key in content.genders" :key="key" :value="key">{{ gender.name }}</option>
					</select> dessen Beruf<br />

					<select class="protagonist-skill" ref="r-protagonists-0-skill">
						<!--<option value="unset">keine Auswahl</option>-->
						<option v-for="job in content.protagonistValues.skills[humorSetting]" :key="" :data-description="job.description">{{ job.skill }}</option>
					</select> ist.
				</fieldset>
				<fieldset class="antagonist" v-if="content.antagonistValues">
					<h2>Der Antagonist</h2>
					<input type="text" name="antagonistName" placeholder="Name des Antagonisten" @change="setCharacterName('antagonists', 0, $event)" ref="r-antagonists-0-name" />, ein(e)<br />
					<select v-for="amount in content.antagonistValues.attributesAmount.positive" :ref="'r-antagonists-0-attributes-positive'">
						<option value="unset">keine Auswahl</option>
						<option v-for="val in content.antagonistValues.positiveAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />
					<select v-for="amount in content.antagonistValues.attributesAmount.negative" :ref="'r-antagonists-0-attributes-negative'">
						<option value="unset">keine Auswahl</option>
						<option v-for="val in content.antagonistValues.negativeAttributes" :key="val.attribute">{{ val.attribute }}</option>
					</select><br />

					<select class="antagonist-gender" ref="r-antagonists-0-gender">
						<option v-for="gender, key in content.genders" :key="key" :value="key">{{ gender.name }}</option>
					</select> welcher über<br />

					<select v-for="skill in 3" class="antagonist-skill" :class="'antagonist-skill-' + skill" :ref="'r-antagonists-0-skill'">
						<option value="unset">keine Auswahl</option>
						<option v-for="job in content.antagonistValues.skills[humorSetting]" :key="job.skill" :data-description="job.description">{{ job.skill }}</option>
					</select> verfügt und als

					<select class="antagonist-job" :class="'antagonist-0-job'" :ref="'r-antagonists-0-job'">
						<option v-for="job in content.antagonistValues.jobs[humorSetting]" :key="job.job" :data-description="job.description">{{ job.job }}</option>
					</select> arbeitet.
				</fieldset>
				<fieldset class="story" v-if="content.targetValues">
					<h2>Die Geschichte</h2>
					<select @change="changeTarget('primary',$event)" ref="r-target-primary">
						<option v-for="primaryTarget, key in content.targetValues[humorSetting]" :key="key" :value="key">{{ primaryTarget.name }}</option>
					</select>

					<select @change="changeTarget('secondary',$event)" ref="r-target-secondary">
						<option v-for="secondaryTarget, key in content.targetValues[humorSetting][primaryTarget].secondaryTargets" :key="key" :value="key">{{ secondaryTarget.name }}</option>
					</select> und 

					<select ref="r-target-tertiary">
						<option v-for="tertiaryTarget, key in content.targetValues[humorSetting][primaryTarget].secondaryTargets[secondaryTarget].tertiaryTargets" :key="key" :value="key">{{ tertiaryTarget }}</option>
					</select>

					von Protagonist <span v-if="protagonists[0]">{{ ucfirst(protagonists[0].name) }}</span><span v-else>X</span>.<br /><br /><span v-if="protagonists[0]">{{ ucfirst(protagonists[0].name) }}</span><span v-else>X</span> und seine Leute von 

					<select class="protagonist-job" ref="r-protagonist-job">
						<option v-for="job, key in content.protagonistValues.jobs[humorSetting]" :key="key" :value="key" :data-description="job.description">{{ job.job }}</option>
					</select>

					suchen Antagonist <span v-if="antagonists[0]">{{ ucfirst(antagonists[0].name) }}</span><span v-else>X</span>, da diese(r)

					<select class="antagonist-method" ref="r-antagonist-method">
						<option v-for="method, key in content.action[humorSetting].method" :key="key" :value="key" :data-description="method.description">{{ method.name }}</option>
					</select> aus

					<select class="antagonist-motiv" ref="r-antagonist-motiv">
						<option v-for="motiv, key in content.action[humorSetting].motiv" :key="key" :value="key" :data-description="motiv.description">{{ motiv.name }}</option>
					</select>

					verübt hat.

					<input type="submit" name="generate" value="Generieren" @click.prevent="generateScreenplay()" />

				</fieldset>
			</form>
		</div>

		<div id="story" v-html="text"></div>
	<div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			const story = new Vue({
			'el': '#story',
			'data': {
				'text': ''
			}});

			const app = new Vue({
				'el': '#app',
				'data': {
					'content': {},
					'humorSetting': 'humorNone',
					'protagonists': [],
					'antagonists': [],
					'primaryTarget': 0,
					'secondaryTarget': 0
				},
				'methods': {
					'changeHumor': function (event) {
						const str = event.target.value.charAt(0).toUpperCase() + event.target.value.slice(1);
						this.humorSetting = 'humor' + str;
						console.log('changed humor setting to', event.target.value);
					},
					'getHumorSetting': function () {
						return 'humor' + this.humorSetting.charAt(0).toUpperCase() + this.humorSetting.slice(1);
					},
					'changeTarget': function (type, event) {
						// console.log(type, event.target.value);
						this[type + 'Target'] = event.target.value;
					},
					'setCharacterName': function (character, index, event) {
						// reactive update to array!
						if (!this[character][index]) {
							Vue.set(this[character], index, {});
						}
						Vue.set(this[character][index], 'name', event.target.value);
						console.log('set', character, 'name to', this[character][index].name);
					},
					'randomArrayItem': function (array) {
						return array[Math.floor(Math.random() * array.length)];
					},
					'ucfirst': function (string) {
						return string.charAt(0).toUpperCase() + string.slice(1);
					},
					'niceList': function (array, filterValues=[], makeUnique=true) {
						const filtered =  array.filter(function (item) {
							return filterValues.includes(item) ? false : true;
						});

						const unique = (makeUnique) ? Array.from(new Set(filtered)) : filtered;

						return unique;
					},
					'niceListString': function (array, andWord=' and ', filterValues=[]) {
						const niceArray = this.niceList(array, filterValues);

						if (niceArray.length < 1) return '';
						if (niceArray.length === 1) return niceArray[0];

						const firstPart = niceArray.slice(0, niceArray.length-1);
						const lastPart = niceArray.slice(niceArray.length-1)

						return firstPart.join(', ') + andWord + lastPart;
					},
					'generateScreenplay': function () {
						console.log('generating screenplay script');
						// console.log(this.$refs);
						
						const humor = this.$refs['r-humor'].value;
						console.log('humor:', humor);

						const violence = this.$refs['r-violence'].options[this.$refs['r-violence'].selectedIndex].dataset.description;

						const erotica = this.$refs['r-erotica'].options[this.$refs['r-erotica'].selectedIndex].dataset.description;

						const romance = this.$refs['r-romance'].options[this.$refs['r-romance'].selectedIndex].dataset.description;

						// protagonists
						let protagonists = [];
						let p = 0;
						let protagonist = {};
						protagonist.genderData = this.content.genders[this.$refs['r-protagonists-'+p+'-gender'].value];
						protagonist.name = this.$refs['r-protagonists-'+p+'-name'].value;
						if(!protagonist.name) protagonist.name = this.randomArrayItem(this.content.protagonistValues.randomNames);

						protagonist.skill = this.$refs['r-protagonists-'+p+'-skill'].value;
						if (protagonist.skill == 'unset') protagonist.skill = protagonist.genderData.name;
						protagonist.skillDetail = this.$refs['r-protagonists-'+p+'-skill'].options[this.$refs['r-protagonists-'+p+'-skill'].selectedIndex].dataset.description;
						
						protagonist.map = this.$refs['r-protagonists-'+p+'-attributes-positive'].map(function (ele) {
							return ele.value;
						});
						protagonist.skillsPos = this.niceList(protagonist.map, ['unset']);
						protagonist.skillsPosString = this.niceListString(protagonist.skillsPos, ' und ');
						if (protagonist.skillsPosString.length < 1) protagonist.skillsPosString = 'nicht weiter definierter';

						protagonist.map = this.$refs['r-protagonists-'+p+'-attributes-negative'].map(function (ele) {
							return ele.value;
						});
						protagonist.skillsNeg = this.niceList(protagonist.map, ['unset']);
						protagonist.skillsNegString = this.niceListString(protagonist.skillsNeg, ' und ');
						if (protagonist.skillsNegString.length < 1 && protagonist.skillsPosString.length < 1) protagonist.skillsNegString = 'nicht weiter definierter';

						protagonists.push(protagonist);
						

						// antagonists
						let antagonists = [];
						p = 0;
						let antagonist = {};

						antagonist.genderData = this.content.genders[this.$refs['r-antagonists-'+p+'-gender'].value];
						antagonist.name = this.$refs['r-antagonists-'+p+'-name'].value;
						if (!antagonist.name) antagonist.name = this.randomArrayItem(this.content.antagonistValues.randomNames);

						antagonist.skill = this.$refs['r-antagonists-'+p+'-skill'];
						antagonist.job = {
							'name': this.$refs['r-antagonists-'+p+'-job'].value,
							'description': this.$refs['r-antagonists-'+p+'-job'].options[this.$refs['r-antagonists-'+p+'-job'].selectedIndex].dataset.description
						};
						
						antagonist.map = this.$refs['r-antagonists-'+p+'-attributes-positive'].map(function (ele) {
							return ele.value;
						});
						antagonist.skillsPos = this.niceList(antagonist.map, ['unset']);
						antagonist.skillsPosString = this.niceListString(antagonist.skillsPos, ' und ');
						if (antagonist.skillsPosString.length < 1) antagonist.skillsPosString = 'nicht weiter definierter';

						antagonist.map = this.$refs['r-antagonists-'+p+'-attributes-negative'].map(function (ele) {
							return ele.value;
						});
						antagonist.skillsNeg = this.niceList(antagonist.map, ['unset']);
						antagonist.skillsNegString = this.niceListString(antagonist.skillsNeg, ' und ');
						if (antagonist.skillsNegString.length < 1 && antagonist.skillsPosString.length < 1) antagonist.skillsNegString = 'nicht weiter definierter';


						antagonists.push(antagonist);
						console.log(protagonists, antagonists);

						// generate output string
						let storyString = '';

						// protagonist
						storyString += '<h2>Der Protagonist</h2>';
						storyString += '<p>' + protagonists[0].name;
						storyString += ', ' + protagonists[0].genderData.a + ' ';
						storyString += protagonists[0].skillsPosString;

						if(protagonists[0].skillsNeg.length > 0) storyString += ', aber auch ' + protagonists[0].skillsNegString;

						storyString += ' ' + protagonists[0].skill+ '.</p>';

						// antagonist
						storyString += '<h2>Der Antagonist</h2>';
						storyString += '<p>' + antagonists[0].name;
						storyString += ', ' + antagonists[0].genderData.a + ' ';
						storyString += antagonists[0].skillsPosString;

						if(antagonists[0].skillsNeg.length > 0) storyString += ', aber auch ' + antagonists[0].skillsNegString;
						storyString += ' ' + antagonists[0].job.name + '.</p>';

						storyString += '<p>' + this.ucfirst(antagonists[0].genderData.he) + ' verfügt über ';
						let tempSkills = [];
						for (let i = 0; i < antagonists[0].skill.length; i++) {
							tempSkills.push(antagonists[0].skill[i].options[antagonists[0].skill[i].selectedIndex].value);
						}
						let niceSkillString = this.niceListString(tempSkills, ' und ', ['unset']);
						storyString += (niceSkillString.length > 0) ? niceSkillString : 'keine besonderen Fähigkeiten oder Resourcen';
						storyString += '.</p>';

						// story
						const targetPrimary = this.content.targetValues[this.humorSetting][this.$refs['r-target-primary'].value].name;
						const targetSecondary = this.content.targetValues[this.humorSetting][this.$refs['r-target-primary'].value].secondaryTargets[this.$refs['r-target-secondary'].value].name;
						const targetTertiary = this.content.targetValues[this.humorSetting][this.$refs['r-target-primary'].value].secondaryTargets[this.$refs['r-target-secondary'].value].tertiaryTargets[this.$refs['r-target-tertiary'].value];

						storyString += '<h2>Die Geschichte</h2>';
						storyString += '<p>Schauplatz ist ' + targetPrimary +', '+ targetSecondary + ', und ' + targetTertiary + ' von ' + protagonists[0].name + '.</p>';

						const job = this.$refs['r-protagonist-job'].options[this.$refs['r-protagonist-job'].selectedIndex].textContent;
						const jobDesc = this.$refs['r-protagonist-job'].options[this.$refs['r-protagonist-job'].selectedIndex].dataset.description;

						const method = this.$refs['r-antagonist-method'].options[this.$refs['r-antagonist-method'].selectedIndex].textContent;
						const motiv = this.$refs['r-antagonist-motiv'].options[this.$refs['r-antagonist-motiv'].selectedIndex].textContent;

						storyString += '<p>' + this.ucfirst(protagonists[0].name) + ' und sein Team von ' + job + ' wollen '+this.ucfirst(antagonists[0].name)+' dingfest machen, da er ' + method + ' aus ' + motiv + ' verübt hat.</p>';

						storyString += '<h2>Einige Szenen (nicht chronologisch)</h2>';
						if (protagonists[0].skillDetail) storyString += '<p>' + protagonists[0].skillDetail + '</p>';
						// show random scenes here, if no others present?

						storyString += '<p>';
						let tempScenes = [];
						for (let i = 0; i < antagonists[0].skill.length; i++) {
							tempScenes.push(antagonists[0].skill[i].options[antagonists[0].skill[i].selectedIndex].dataset.description);
						}
						let niceScenes = this.niceList(tempScenes);
						storyString += (niceScenes.length > 0) ? niceScenes.join('</p><p>') : 'x';
						storyString += '</p>';


						storyString += '<h2>Gewalt, Erotik und Romantik</h2>';
						storyString += '<p>' + violence + '</p>';
						storyString += '<p>' + erotica + '</p>';
						storyString += '<p>' + romance + '</p>';

						// output
						story.text = storyString;

						story.$el.scrollIntoView({behavior: 'smooth'});
					}
				}
			});

			let movieType = 'krimi';

			fetch('./'+movieType+'.json')
				.then(response => response.json())
				.then(data => {
					app.content = data;
					console.log(app.content);
				});
		});
	</script>
</body>
</html>